/* 
 * Hide the ul list to prevent flickering
 */
#DSMData
{
	display: none;	
}

/*
 * Unindent the menu (note selecting the id based on how mediawiki labels them, might brake in the future)
 */
#p-DynamicSidebarMenu .body
{
	margin-left: 0 !important;
}

/*
 * Proper indentation of the menu
 */
#DSM
{
	margin-left:-1.5em;
}
#DSM ul li
{
	margin-left: 1.5em !important;	
}

/*
 * Reset font size
 */
#DSM ul li
{
	font-size: 1em !important;	
}

#DSM li > span.DSMRed > span.fancytree-title
{
	color: #a55858;
}